<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="http://cdn.jsdelivr.net/jquery.validation/1.15.0/jquery.validate.min.js"></script>
<header class="clearfix">

<!-- Start Top Bar -->
  <div class="">
    <div class="row">
      <div class="col-md-12">
        <div class="top-bar">
          <div class="row">

            <div class="col-md-6">
              <!-- Start Contact Info -->
              <ul class="contact-details">
                <li><a href="#"><i class="fa fa-phone"></i>+1 (470) 578-6000</a>
                </li>
                <li><a href="#"><i class="fa fa-envelope-o"></i> bespokedbike@support.com</a>
                </li>
              </ul>
              <!-- End Contact Info -->
            </div>
          </div>


        </div>
      </div>

    </div><!-- .row -->
  </div>
  <!-- End Top Bar -->

  <!-- Start  Logo & Naviagtion  -->
  <div class="navbar navbar-default navbar-top">
      <div class="navbar-header">
        <!-- End Toggle Nav Link For Mobiles -->
        <a class="navbar-brand" href="/home">BeSpoked Bikes</a>
      </div>
          <!-- Start Navigation List -->
          <ul class="nav navbar-nav ml-auto">
            <li>
              <a href="/home">Home</a>
            </li>
            <li>
              <a href="/inventory">Inventory</a>
            </li>
            <li>
              <a href="/customers">Customers</a>
            </li>
          </ul>
          <!-- End Navigation List -->
    </div>

</header>


